@charset "UTF-8";

#ua {
	text-align: right;
	height: 8px;
	font-size: 14px;
	margin: 9px 10px 0;
}

body {
	background-color: #cccccc;
	margin: 0;
	text-align: center;
}

html,body,p,div {
	font-family: Tahoma, "Microsoft Yahei", Helvetica, Geneva, sans-serif;
}

p {
	margin: 1em;
	font-family: Tahoma, "Microsoft Yahei", Helvetica, Geneva, sans-serif;
	font-size: 14px;
	text-align: justify;
}

a {
	color: #03C;
	text-decoration: none;
}

#footer {
	width: 100%;
	height: 30px;
	background-repeat: repeat-x;
	margin: 0;
	padding: 0;
}

#footer p {
	margin-top: 5px;
	text-align: center;
}

#main {
	background-color: #FFF;
	width: 1200px;
	margin: 0 auto;
}

#logo {
	height: 35px;
}

#logo h1 {
	height: 30px;
	font-size: large;
	text-align: left;
	margin-left: 100px;
	color: #567;
	font-weight: 800;
}

#tab {
	text-align: center;
	width: 1200px;
	float: left;
	padding: 0;
}

#tab ul {
	position: relative;
	bottom: 0px;
	margin-top: 0;
}

#tab ul li {
	display: inline;
	list-style: none;
	font-size: 18px;
}

#tab ul li a {
	float: left;
	display: block;
	width: 150px;
	text-align: center;
	margin-left: 5px;
	background: gray;
	height: 25px;
	padding-top: 10px;
	background-image: url(./img/tab.jpg);
	background-repeat: no-repeat;
	color: white;
	font-weight: 600;
}

#tab ul li a:hover {
	color: #000;
}

#tab ul li a.selectedTab {
	background-image: url(./img/tab_selected.png);
	background-repeat: no-repeat;
	position: relative;
	bottom: 0px;
	color: #000;
	z-index: 6;
}

#home h1 {
	font-size: 20px;
	font-weight: 600;
	border-bottom: #CCC 2px solid;
	margin: 10px 10px 10px 10px;
	padding-left: 5px;
	padding-bottom: 5px;
	padding-top: 5px;
	background-image: url(./img/hive_icon.jpg);
	background-repeat: no-repeat;
	background-position: left;
}

.caption {
	border: 2px #ccc solid;
	margin-bottom: 15px;
	font-size: 15px;
	padding: 8px;
}

/**********************************
*            My Popup 
***********************************/
.my-popup
{
	margin-left            :    auto;
    margin-right           :    auto;
    background-color       :    #ffc;
    border                 :    3px solid #009;
}

.my-popup-header
{
    background-color       :    #ff0;
    font-size              :    90%;
    font-weight            :    bold;
    border-bottom          :    3px solid #009;
    padding                :    5px;
    text-align             :    center;
}
.my-popup-message
{
    font-size              :    80%;
    padding                :    15px;
    width					:	 400px;
}
.my-popup-footer
{
    padding                :    5px;
    text-align             :    center;
    width                  :    100%;
}
